<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }} ></title>
    <link rel="stylesheet" href="style/style.css" type="text/css">
</head>

<body>
    <div class="main">
    {% include 'header.twig' %}
        <h1 class="name">Detailed info about the product</h1>
        <div class="body">
        <div id="productAdded"></div>

            {% if product %} 
   
            <img src="{{ product.path }}" height="600">
            <div> Name: {{ product.name }} </div>
            <div> Price: {{ product.price }} </div>
            <div> Views: {{ product.view }}</div>

            {% else %} 
            <b>Product not found</b>
            {% endif %}

        </div>
    </div>
    {% include 'footer.twig' %}
</body>
</html>